.DS_Store

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.swp
*~
*.bak

# ####################
# vibezfrontend (React)
# ####################

vibezfrontend/node_modules/


vibezfrontend/build/
vibezfrontend/dist/
vibezfrontend/package-lock.json

vibezfrontend/.env.local
vibezfrontend/.env.development.local
vibezfrontend/.env.test.local
vibezfrontend/.env.production.local

# Pliki związane z testami
vibezfrontend/coverage/

# ####################
# vibezbackend (Spring Boot)
# ####################

vibezbackend/target/
vibezbackend/build/


vibezbackend/**/*.class

*.jar
*.war
*.ear

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

.apt_generated
.factorypath
.springBeans
.sts4-cache

hs_err_pid*

.idea

vibezbackend/src/main/resources/application.properties

/xdp.txt
/vibezbackend/gcp-key.json
/vibezbackend/src/main/resources/gcp-key.json
